
/* Split section with colors and image */
.split-section {
    position: relative;
    height: 600px;
}

.top-section {
    background-color: var(--color2);
    height: 50%;
}

.bottom-section {
    background-color: var(--color1); 
    height: 50%;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}

.image-container img {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    border: 5px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Text section */
.text-section {
    padding: 40px 20px;
    text-align: center;
    background-color: var(--color1);
}

.text-section h2 {
    color: var(--color2);
    margin-bottom: 20px;
    font-size: 3em;
    text-decoration: underline;
}

.text-section p {
    font-size: 1.2em;
    color: var(--color3);
    text-align: justify;
    max-width: 900px;
    line-height: 1.6;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: var(--color2);
    color: var(--color3);
    text-align: center;
    padding: 15px 0;
}


/* Responsive design */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar.active {
        display: block;
    }
}