@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.collaboratorsTittle {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 80px; 
    color: #1E1F21; 
    -webkit-text-stroke: 1px #5AA082;
    text-align: left;
    margin-top: 20px;
    letter-spacing: 2px;
}

body {
    color: white;
}

.collaboratorsSubTittle {
    font-family: 'Roboto', sans-serif;
    font-size: 35px; 
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
    letter-spacing: 2px;
}

.collaboratorsSubTittle span {
    font-family: 'Roboto', sans-serif;
    font-size: 35px; 
    color: #1E1F21; 
    -webkit-text-stroke: 1px #ffffff; 
    text-align: left;
    margin-top: 20px;
    letter-spacing: 2px;
}

.colaboradores-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px;
    padding: 20px; 
}